---
import { RecordsItems } from "@/components/records-items";
import { getShopPage } from "@/lib/api";
import Layout from "@/pages/_/layout.astro";

// DATA ************************************************************************************************************************************
const { products } = await getShopPage({ pocketbase: Astro.locals.pocketbase, cache: import.meta.env.DEV ? "1d" : undefined });

// VARS ************************************************************************************************************************************
const seo = { title: "La Boutique", description: "Retrouvez tous mes produits dans la boutique." };
---

<Layout {seo}>
  <RecordsItems client:visible title="Produit" items={products} border="all" intent="light">
    <p>Il n'y a actuellement aucun produit dans la boutique.</p>
  </RecordsItems>
</Layout>
